.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


/*touched */
/*.ng-touched.ng-invalid{*/
  /*color: red;*/
/*}*/


/*ng-untouched*/


/*changed */
/*ng-dirty	ng-pristine*/

.ng-dirty {
  text-decoration: underline;
}


/*validation */
/*ng-valid	ng-invalid*/




.ng-select.form-control {

}
.ng-select.form-control .ng-select-container  {

  background: rgba(52, 214, 255, 0.5);
}
ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
