


<div class="container-fluid">
  <div class="row">

    <!-- Bills Col -->
    <div class="col-md-3">
      <app-bills></app-bills>
    </div><!-- / Bills Col -->

    <!-- Expenses Col -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <app-budget></app-budget>
        </div>
        <div class="col-md-12">
          <app-expenses></app-expenses>
        </div>
      </div>
    </div><!-- / Expenses Col -->

    <!-- Financial Col -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <app-income></app-income>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <app-spending></app-spending>
        </div>
        <div class="col-md-6">
          <app-balances></app-balances>
        </div>
      </div>
    </div><!-- / Financial Col -->


  </div>
</div>


