<div class="container">


  <div class="Block">
    <label id="lbl">Code </label>
    <input type='file' (change)="fileChanged($event)">
    <button (click)="uploadDocument(file)">upload</button>
    <button (click)="parse()">parse</button>

  </div>


  <form (ngSubmit)="submitForm()" #expenseForm="ngForm" *ngFor="let expense of expenses">
    <h3>Expense</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             [(ngModel)]="expense.name" name="name" required>
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="text" class="form-control" id="amount"
             [(ngModel)]="expense.amount" name="amount" required>
    </div>

    <div class="form-group">
      <label for="Category">Category</label>
      <select class="form-control" id="Category" required>
        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
      </select>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!expenseForm.form.valid">Submit</button>
  </form>

  <form (ngSubmit)="submitForm()" #incomesForm="ngForm" *ngFor="let income of incomes">
    <h3>Income</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="nameIncome"
             [(ngModel)]="income.name" name="nameIncome" required>
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="text" class="form-control" id="amountIncome"
             [(ngModel)]="income.amount" name="amountIncome" required>
    </div>

    <div class="form-group">
      <label for="powerIncome">Category</label>
      <select class="form-control" id="powerIncome" required>
        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
      </select>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!incomesForm.form.valid">Submit</button>
  </form>
</div>

<div *ngFor="let expense of expenses">
  <div *ngIf="expense.name != null">
    {{ expense.amount }}
  </div>

</div>

<!--<button (click)="showImported()">dl</button>-->
