select::-ms-value {background: none; color: #42413D;}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}
.amount-box{
  position: absolute;
  right: 25px;
  font-size: 13px;
  font-weight: 300;
  color: #bababa;
  margin-top: -25px;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
span.info {
  color: #bababa;
  font-size: 10px;
}

h2 span.amount {
  position: absolute;
  right: 25px;
}
ul li {

}


.btn {
  background: #fff;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid #d0d0d0;
  color: #bababa;
  font-size: 12px;
  transition: all 250ms ease-in-out;
}
.btn.wide{
  width: 100%;
}


.btn:hover {
  background: #eee;
}
.btn:active{
  background: #e5e5e5;
  border: 1px solid #b4b4b4;
  color: #878787;

}
