.parent-tooltip{
  position:relative;
}

.tooltipPerc {
  pointer-events: none;

  display: none;
  position: relative;
  color: #333;
  font-weight: 300;
  top: 15px;
  font-size: 14px;
  text-align: center;
  width: 100px;
  height: auto;
  padding: 5px;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid rgba(205,205,205,0.8);
  margin: 0 auto;
  left: 10px;
  box-shadow: #eee 2px 2px 20px;

  transition: all ease-in-out 200ms;
  transition-delay: 5s;

  opacity: 0;
}
.tooltipPerc:before,
.tooltipPerc:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  margin-left: -10px;
}
.tooltipPerc:after {
  border-bottom-color: rgba(205,205,205,0.8);
  margin-top: -10px;
}
.tooltipPerc:before {
  border-bottom-color: #fff;
  margin-top: -8px;
  z-index: 3;
}

.parent-tooltip:hover .tooltipPerc {
  display: block;
  position: absolute !important;
  opacity: 1 !important;
}



/* Touch */
@media (pointer: coarse) {
  .parent-tooltip:hover .tooltipPerc {
    display: none !important;
  }
  .tooltipPerc {
    display: none !important;
  }
}
/* Mouse */
@media (pointer: fine) {
  .parent-tooltip:hover .tooltipPerc {
    display: block;
  }
}

.tooltipPerc.hidden {
  display: none !important;
}
