h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 26px;
}


div.overlay {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 35;

  background: rgba(181, 181, 181, 0.9)
}

div.add-component {
  position: fixed;
  top: 150px;

  width: 60%;

  margin: 25px 20%;

  background: #fff;
  z-index: 45;
}
