
<div class="row correction">
  <h1 class="clickable" (click)="init()">Spending</h1>


  <h1 class="bulkBudgetLeft">&euro;{{totalSpendAmout | valuta}}</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div [chart]="chart" id="chart-spending"></div>
  </div>


  <div class="col-md-6">



    <ul class="sub-cat mgtp">
      <div class="expense" *ngFor="let category of spendings; let i = index;">


        <div class="sub-layer {{category.name.split(' ').join('_')+'-'+category.id}}">


          <li>

                <span class="icon-subcat" [ngStyle]="{'border-color':getColor(i)}">

                </span>

            <h2 class="clickable subLabel parent-tooltip subCategoryLbl"
                (click)="setShowStateSubLayer('sub-layer' ,category.name.split(' ').join('_'), category.id);"
                         >
              {{getPercentage(category)}}
              <span class="amount">
                      &euro;{{category.amount | valuta}}
                    </span>
              <span class="tooltipPerc">
                    {{category.count}} expenses
                    </span>
            </h2>

            <div>
                  <span class="info">
                    <span class="date">
                      {{category.name}}
                    </span>
                  </span>
            </div>



            <ul class="expenses-seperate hiddenNow">

              <li class="forloop" *ngFor="let expense of getExpensesOf(category.id)">
                <span>{{expense.name}} - {{expense.amount}}</span> <br>
                <span class="info">Shopping Mall on {{formatDate(expense.date)}}</span>
              </li>
            </ul>

          </li>
        </div>

      </div>
    </ul>



  </div>
</div>

