
<div class="row correction">
  <h1 class="clickable" (click)="init()">Spending</h1>

  <button class="prev"> &#9664; </button> <button class="next"> &#9654; </button>

  <h1 class="bulkBudgetLeft">&euro;{{totalBudgetSpend}}</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div [chart]="chart" id="chart-spending"></div>
  </div>


  <div class="col-md-6">



    <ul class="sub-cat">
      <div class="expense" *ngFor="let category of spendings">


        <div class="sub-layer {{category.name+'-'+category.id}}">


          <li>

                <span class="icon-subcat" [ngStyle]="{'border-color':getColor(category)}">

                </span>

            <h2 class="clickable subLabel parent-tooltip subCategoryLbl"
                (click)="setShowStateSubLayer(category.id, category.name);
                               toggleTooltipSub(category.name+'-'+category.id)">
              {{getPercentage(category)}}%
              <span class="amount">
                      &euro;{{category.amount}}
                    </span>
              <span class="tooltipPerc">
                    some extra info: 3 biggest.. ?
                    </span>
            </h2>

            <div>
                  <span class="info">
                    <span class="date">
                      {{category.name}}
                    </span>
                  </span>
            </div>



            <ul class="expenses-seperate hiddenNow" id="{{category.id.toString()+category.name.substr(0,4)}}">

              <li class="forloop" *ngFor="let expense of getExpensesOf(category.subcategoryFk)">
                <span>{{expense.name}} - {{expense.amount}}</span> <br>
                <span class="info">in Shopping Mall on {{formatDate(expense.date)}}</span>
              </li>
            </ul>

          </li>
        </div>

      </div>
    </ul>



  </div>
</div>

