<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1 (click)="init()" class="clickable">Net Income</h1>
    </div>
    <div class="col-md-4">
      <Label>Viewing</Label>
      <option value="MONTHLY"></option>
      <option value="LAST 12 MONTHS"></option>
    </div>
    <div class="col-md-4">
      <h1>
        <span>Avg</span>
        &euro;{{avgIncome}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{currentMonth}}
    </div>
    <div class="col-md-6">
      <span>Earned</span>&euro;{{currentEarned}}
      <span>Spent</span>&euro;{{currentSpent}}
    </div>
  </div>
</div>

<br>

<br>


<div [chart]="chartIncome"></div>

<hr>


<button (click)="addIncome()">add</button>
