<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h1 (click)="init()" class="clickable">Net Income</h1>
    </div>
    <div class="col-md-6 viewing-options">
      <Label class="label small view">Viewing</Label>
      <span class="selections">
        <select class="selection" name="frequency">
          <option value="monthly">Monthly</option>
          <option value="weekly">Weekly</option>
          <option value="daily">Daily</option>
        </select>
      </span>
      <span class="selections">
        <select class="selection" name="interval">
          <option value="12mnths">Last 12 Months</option>
          <option value="6mnths">Last 6 Months</option>
          <option value="3mnths">Last 3 Months</option>
          <option value="1mnth">Last Month</option>
        </select>
        </span>
    </div>
    <div class="col-md-4">
      <h1 class="avg-display">
        <span>Avg</span>
        &euro;{{avgIncome}},00
      </h1>
    </div>
  </div>
  <div class="row margin-t">
    <div class="col-md-6">
      <h3 class="current-month">{{currentMonth}}</h3>
    </div>
    <div class="col-md-6 earned-spend">
      <span class="label small">Earned</span><span class="label small dark">&euro;{{currentEarned}}</span>&nbsp;
      <span class="label small">Spent</span><span class="label small dark">&euro;{{currentSpent}}</span>
    </div>
  </div>
</div>

<br>

<br>


<div [chart]="chartIncome"></div>

<hr>

