<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h1 (click)="init()" class="clickable">Net Income</h1>
    </div>
    <div class="col-md-6 viewing-options">
      <Label class="label small view">Viewing</Label>
      <span class="selections">
        <select class="selection" name="frequency" #frequency (change)="selectionChange(frequency.value, months.value)">
          <option value="monthly">Monthly</option>
          <option value="weekly">Weekly</option>
          <option value="daily">Daily</option>
        </select>
      </span>
      <span class="selections">
        <select class="selection" name="interval" #months (change)="selectionChange(frequency.value, months.value)">
          <option value="12">Last 12 Months</option>
          <option value="6">Last 6 Months</option>
          <option value="3">Last 3 Months</option>
          <option value="1">Last Month</option>
        </select>
        </span>
    </div>
    <div class="col-md-4">
      <h1 class="avg-display">
        <span>Avg</span>
        &euro;{{avgIncome}},00
      </h1>
    </div>
  </div>
  <div class="row margin-t">
    <div class="col-md-6">
      <h3 class="current-month">{{currentMonth}}</h3>
    </div>
    <div class="col-md-6 earned-spend">
      <span class="label small">Earned</span><span class="label small dark">&euro;{{currentEarned}}</span>&nbsp;
      <span class="label small">Spent</span><span class="label small dark">&euro;{{currentSpent}}</span>
    </div>
  </div>
</div>

<br>

<br>


<div [chart]="chartIncome" [contextMenu]="expenseMenu" [contextMenuSubject]="incomes"></div>

<hr>




<context-menu #expenseMenu>
  <ng-template contextMenuItem let-item (execute)="toggleTooltips()">
    <fa name="info"></fa>
    Toggle tooltips
  </ng-template>



  <ng-template let-item contextMenuItem
               (execute)="manageCategory($event.item)">
    <fa name="edit-circle"></fa>
    <span>
      Edit Category
    </span>
  </ng-template>


  <ng-template contextMenuItem let-item
               (execute)="manageCategory(null)">
    <fa name="edit"></fa>
    Add Category
  </ng-template>

  <ng-template contextMenuItem let-item
               (execute)="manageExpense(null)">
    <fa name="plus-circle"></fa>
    Add Expense
  </ng-template>


  <ng-template contextMenuItem divider="true"></ng-template>

  <ng-template contextMenuItem [subMenu]="saySubMenu">
    <fa name="share"></fa>
    Share
  </ng-template>
  <context-menu #saySubMenu>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
      <fa name="bell"></fa>
      Reminders
    </ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Hola, ' + $event.item.name)">
      <fa name="calendar-alt"></fa>
      Agenda
    </ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Salut, ' + $event.item.name)">
      <fa name="envelope"></fa>
      Mail
    </ng-template>
  </context-menu>

</context-menu>
