
@import "../../../../assets/css/fonts.css";


.calendar-container {
  width:100%;
  height:300px;
  text-align: center;
}
div.bill-labels ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.bill-labels ul li {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  margin: 5px 10px;
  width: 75px;
  font-size: 13px;
}
div.bill-labels ul li span,
ul.transactions li:before{
  content: " ";
  border-radius: 50%;
  border: 2px solid #999;
  padding: 0 5px;
  margin-right: 5px;
  vertical-align: 2px;
  font-size: 8px;
}
ul.transactions li:before {
  margin-left: -25px;
}

div.bill-labels ul li.bill span,
ul.bills-bill li:before{
  border-color: #127BE0;
}
div.bill-labels ul li.paid span,
ul.paid-bill li:before{
  border-color: #4BCA81;
}
div.bill-labels ul li.over span,
ul.bills-overdue li:before{
  border-color: #D02C4D;
}
ul.transactions {
  list-style: none;
}
ul.transactions li h2 {
  margin-top: -21px;
}
section {
  margin: 15px 0 35px;
}
.btn {
  background: #fff;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid #d0d0d0;
  color: #bababa;
  font-size: 12px;
}
.btn.wide{
  width: 100%;
}

.row.correction {
  text-align: center;
}
button.prev{

}
button.next {
  position: absolute;
  right: 25px;
}

button.prev, button.next {
  border-radius: 50%;
  border: 2px solid #222;
  background: none;
  font-size: 9px;
  height: 24px;
  font-weight: 800;
  margin: 3px 0 0 5px;
}
.correction {
  margin: 0;
}


