<div class="row correction">
  <button class="prev"> < </button>
  <h2>June 2018</h2>
  <button class="next"> > </button>
</div>

<div style="width:100%; height:250px;background:#eee;"></div>

<div class="bill-labels">
  <ul>
    <li class="bill"><span></span>Bill</li>
    <li class="paid"><span></span>Paid</li>
    <li class="over"><span></span>Overdue</li>
  </ul>
</div>


<section class="overdue">
  <h3>Overdue</h3>
  <span class="amount-box">&euro;{{getSumExpenses(overdueBills)}}</span>

  <hr>

  <ul class="bills-overdue" *ngFor="let bill of overdueBills; let o = index">
    <div *ngIf="o < overdueShown">
      <li class="over">
        <span></span><h2>{{bill.name}} <span class="amount">&euro;{{bill.amount}}</span></h2>
        <span class="info"><span class="date">Mar 20, 2018</span><span class="dot"></span><span class="company">Bol.com</span></span>
      </li>
    </div>
  </ul>
  <ul *ngIf="overdueBills.length == 0">
    <li class="over">
      <span></span><h2>There are no bills overdue </h2>
      <span class="info"><span class="date">But, {{billBills.length}} bills need to be payed soon </span><span class="dot"></span><span class="company">Total: &euro;{{getSumExpenses(billBills)}}</span></span>
    </li>
  </ul>

  <button class="more btn wide overdueShown" (click)="showBills('overdueShown')">
    {{billsBtnText}}
    <span *ngIf="overdueBills.length-overdueShown > 0">({{overdueBills.length-overdueShown}})</span>
  </button>
</section>

<section class="bill">
  <h3>Bill</h3>
  <span class="amount-box">&euro;{{getSumExpenses(billBills)}}</span>

  <hr>

  <ul class="bills-bill" *ngFor="let bill of billBills; let i = index">
    <div *ngIf="i < billsShown">
      <li class="bill">
        <span></span><h2>{{bill.name}} <span class="amount">&euro;{{bill.amount}}</span></h2>
        <span class="info"><span class="date">Jul 20, 2018</span><span class="dot"></span><span class="company">Bol.com</span></span>
      </li>
    </div>
  </ul>

  <button class="more btn wide billsShown" (click)="showBills('billsShown')">
    {{billsBtnText}}
    <span *ngIf="billBills.length-billsShown > 0">({{billBills.length-billsShown}})</span>
  </button>
</section>

<section class="paid">
  <h3>Paid</h3>
  <span class="amount-box">&euro;{{getSumExpenses(paidBills)}}</span>

  <hr>

  <ul class="paid-bill" *ngFor="let bill of paidBills; let p = index">
    <div *ngIf="p < paidShown">
      <li class="bill">
        <span></span><h2>{{bill.name}} <span class="amount">&euro;{{bill.amount}}</span></h2>
        <span class="info"><span class="date">Jul 20, 2018</span><span class="dot"></span><span class="company">Bol.com</span></span>
      </li>
    </div>
  </ul>

  <button class="more btn wide paidShown" (click)="showBills('paidShown')">
    {{paidBtnText}}
    <span *ngIf="paidBills.length-paidShown > 0">({{paidBills.length-paidShown}})</span>
  </button>
</section>
