Calendar..

<div class="bill-labels">
  <ul>
    <li class="bill"><span></span>Bill</li>
    <li class="paid"><span></span>Paid</li>
    <li class="over"><span></span>Overdue</li>
  </ul>
</div>


<section class="overdue">
  <h3>Overdue</h3>
  <span class="totalAmount">&euro;{{overdueTotal}}</span>

  <hr>

  <ul class="bills-overdue">
    <li class="over">
      <span></span>UG Monthly Pass <span class="amount">&euro;80.00</span>
      <span class="date">Sep 08, 2018</span><span class="dot"></span><span class="company">Carris</span>
    </li>
    <li class="over">
      <span></span>Domain Renewal <span class="amount">&euro;12.70</span>
      <span class="date">Sep 09, 2018</span><span class="dot"></span><span class="company">Names</span>
    </li>
  </ul>

  <button>More overdue bills (1)</button>
</section>

<section class="bill">
  <h3>Bill</h3>
  <span class="totalAmount">&euro;{{overdueTotal}}</span>

  <hr>

  <ul class="bills-bill">
    <li class="bill">
      <span></span>Order online <span class="amount">&euro;120.50</span>
      <span class="date">Jul 20, 2018</span><span class="dot"></span><span class="company">Bol.com</span>
    </li>
    <li class="bill">
      <span></span>Domain Renewal <span class="amount">&euro;32.70</span>
      <span class="date">Sep 09, 2018</span><span class="dot"></span><span class="company">Names</span>
    </li>
  </ul>

  <button>More bills (13)</button>
</section>

<section class="paid">
  <h3>Paid</h3>
  <span class="totalAmount">&euro;{{overdueTotal}}</span>

  <hr>

  <ul class="bills-paid">
    <li class="paid">
      <span></span>Order online <span class="amount">&euro;120.50</span>
      <span class="date">Jul 20, 2018</span><span class="dot"></span><span class="company">Bol.com</span>
    </li>
    <li class="paid">
      <span></span>Domain Renewal <span class="amount">&euro;32.70</span>
      <span class="date">Sep 09, 2018</span><span class="dot"></span><span class="company">Names</span>
    </li>
  </ul>

  <button>More paid bills (3)</button>
</section>
