@import "../../../../assets/css/fonts.css";


.clickable{
  cursor: pointer;
}

.calender-component #calender-box div table.calendarTbl {
  display: inline-block  !important;
  vertical-align: top !important;
  border-collapse: collapse !important;
  width: 80% !important;
  margin: 0 auto !important;
}

.calender-component #calender-box div table.calendarTbl tbody tr:hover {
  background-color: #fff;
}

.calender-component #calender-box div table.calendarTbl td {
  text-align: center;
  line-height: 1.75rem;
  width: 1.75rem;
}

.calender-component #calender-box div table.calendarTbl thead td {
  color: #999;
  font-size: .75rem;
  text-transform: uppercase;
}

.calender-component #calender-box div table.calendarTbl tbody td {
  font-size: .875rem;
  padding: 12px;
}
.calender-component #calender-box div table.calendarTbl tbody td.before,
.calender-component #calender-box div table.calendarTbl tbody td.after{
  color: #bdbdbd;
}
.calender-component #calender-box div table.calendarTbl tbody td.current{
  color: red;
}

.calender-component #calender-box div table.calendarTbl tbody td:hover {
  background-color: rgba(64, 64, 64, 0.35);
  color: #353535;
  cursor: pointer;
}

.calender-component h2.clickable {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

  /*td.before, td.after {*/
  /*color: #999;*/
/*}*/






.calender-component .calendar-container {
  width:100%;
  text-align: center;
}

.calender-component .row.correction {
  text-align: center;
}
.calender-component button.prev{

}
.calender-component button.next {
  position: absolute;
  right: 25px;
}

.calender-component button.prev, button.next {
  border-radius: 50%;
  border: 2px solid #222;
  background: none;
  font-size: 9px;
  height: 24px;
  font-weight: 800;
  margin: 3px 0 0 5px;
}
.calender-component .correction {
  margin: 0;
}
