<div class="sub-navigation navigation">
  <div class="left">
    <div class="tool" *ngFor="">

    </div>
    <a href="https://www.csvjson.com/csv2json" target="_blank">Csv > Json</a>
    <a routerLink="/console">console</a>
    <a routerLink="/bulkImport">import</a>
  </div>

  <div class="center">
    {{message}} &nbsp;
  </div>


  <div class="right">
    <a routerLink="/settings">settings</a>
    <a routerLink="/account">account</a>
  </div>
</div>


<div class="container">
  <br>

  <div class="Block">

    <input type='file' #fileUpload (change)="fileChanged($event); fileUploadDisabled = true" [disabled]="fileUploadDisabled">
    <!--<button (click)="uploadDocument(file)" disabled>upload</button>-->
    &nbsp;
    <div class="parsing" *ngIf="file != null">
      amountOfHeaderFields
      <input type="text" [value]="amountOfHeaderFields">
      <button #parser (click)="parse(); parserDisabled = true" [disabled]="parserDisabled">parse</button>
    </div>

    &nbsp;
    <button #converter (click)="convert(); converter.disabled = true" [disabled]="converterDisabled"  *ngIf="parsedData != null">convert</button>
    &nbsp;
    <button class="btn-alert btn btn-sm"
            (click)="fileUploadDisabled = false;  parserDisabled = false; converterDisabled = false;
                      reset();">
      reset
    </button>

    <span style="float: right;" *ngIf="data !== null">
      <!--{{parsedData.length}}-->
      {{lengthDataType}}
    </span>

    <div class="container-fluid" *ngIf="parsedData != null">
      <div class="row">
        <div class="col-md-6">
          <h4>Keys Imported</h4>
          <ul>
            <li *ngFor="let key of keys">{{key}}</li>
          </ul>
        </div>

        <div class="col-md-6">
          <h4>Keys Transactions</h4>
          <ul>
            <li *ngFor="let key of transactionKeys">{{key}}</li>
          </ul>
        </div>
      </div>
    </div>


  </div>


  <div class="container" *ngFor="let transaction of transactions; let i = index">
    <div class="checkExpense" *ngIf="transaction.expense !== null && i < displayedTransactions">

      <form (ngSubmit)="submitForm()" #expenseForm="ngForm">
        <h3>Expense</h3>
        <div class="form-group">
          <label for="name">Name: {{transaction.expense.name}}</label>
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="transaction.expense.name" name="name" required>
        </div>

        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount"
                 [(ngModel)]="transaction.expense.amount" name="amount" required>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"
                 [(ngModel)]="transaction.expense.description" name="description" required>
        </div>

        {{transaction.expenseJson.Rekening}} - {{transaction.expenseJson.Tegenrekening}}

        <br>

        {{transaction.expenseJson.Datum}}

        <br>

        {{transaction.expenseJson.Mededelingen}}
        <!--more info-->

        <br>

        {{transaction.expenseJson.NaamOmschrijving}}

        <br>

        {{transaction.expenseJson.MutatieSoort}} - {{transaction.expenseJson.Code}}

        <div class="form-group" >
          <label for="Category">Category</label>
          <select class="form-control" id="Category" required #categoryOptions
                  (change)="transaction.expenseJson.subCategories = getSubCats(parseFloat(categoryOptions.value));
                        expense.subcategoryFk = parseFloat(subcatOptions.value);">

            <option [value]="9999">
              All Categories
            </option>
            <option *ngFor="let cat of transaction.expenseJson.mainCategories"  [value]="cat.id">
              {{cat.name}}
            </option>

          </select>
        </div>

        <div class="form-group">
          <label for="subCategory">Sub Category</label> &nbsp; <span class="catId">{{transaction.expense.subcategoryFk}}</span>
          <select class="form-control" id="subCategory" required #subcatOptions
                  (change)="expense.subcategoryFk = parseFloat(subcatOptions.value) "
                  (click)="expense.subcategoryFk = parseFloat(subcatOptions.value);">

            <option *ngFor="let cat of transaction.expenseJson.subCategories" [value]="cat.id">
              {{cat.name}}
            </option>

          </select>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!expenseForm.form.valid">Submit</button>
      </form>

    </div>

    <div class="checkIncome" *ngIf="transaction.income != null && i < displayedTransactions">


      <form (ngSubmit)="submitForm()" #incomesForm="ngForm" >
        <h3>Income</h3>
        <div class="form-group">
          <label for="nameIncome">Name</label>
          <input type="text" class="form-control" id="nameIncome"
                 [(ngModel)]="transaction.income.name" name="nameIncome" required>
        </div>

        <div class="form-group">
          <label for="amountIncome">Amount</label>
          <input type="text" class="form-control" id="amountIncome"
                 [(ngModel)]="transaction.income.amount" name="amountIncome" required>
        </div>



        <button type="submit" class="btn btn-success" [disabled]="!incomesForm.form.valid">Submit</button>
      </form>

    </div>


  </div>
  <button (click)="displayedTransactions=displayedTransactions+25;" *ngIf="(transactions.length - displayedTransactions) > 25">More transactions</button>
  <button (click)="displayedTransactions=transactions.length;" *ngIf="(transactions.length - displayedTransactions) > 25">Show all transactions</button>


</div>

<!--<div *ngFor="let expense of expenses">-->
  <!--<div *ngIf="expense.name != null">-->
    <!--{{ expense.amount }}-->
  <!--</div>-->

<!--</div>-->

<!--<button (click)="showImported()">dl</button>-->
