

<div class="sections-container"
     style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
     unselectable="on"
     onselectstart="return false;"
     onmousedown="return false;">


  <div class="category-box" *ngFor="let categoryMain of categories">
    <div class="check" *ngIf="categoryMain.subCategoryFk == 0">
      <section class="category">
        <h3 (click)="setShowStateSubLayer(categoryMain.id, categoryMain.name)" class="clickable">
          {{categoryMain.name}}
        </h3>
        <span class="amount-box">&euro;
        {{  getSumAmounts(getExpensesOf(categoryMain.id))  }}
      </span>

        <hr>


        <ul class="sub-cat  hiddenNow" id="{{categoryMain.id.toString()+categoryMain.name.substr(0,4)}}">
          <div class="expense" *ngFor="let category of categories">
            <li *ngIf="category.subCategoryFk == categoryMain.id">
              <span></span>
                <h2 (click)="setShowStateSubLayer(category.id, category.name)" class="clickable">
                  {{category.name}}
                  <span class="amount">
                    &euro;{{getSumAmounts(getExpensesOf(category.id))}}
                  </span>
                </h2>

              <div *ngFor="let expenseDisplay of getLastExpenseOf(category.id)">
                <span class="info">
                  <span class="date">
                    {{expenseDisplay.date}}
                  </span>

                  <span class="dot"></span>

                  <span class="company">
                    {{expenseDisplay.companyFk}}
                  </span></span>

              </div>


              <ul class="expenses-seperate hiddenNow" id="{{category.id.toString()+category.name.substr(0,4)}}">
                  <li class="forloop" *ngFor="let expense of getExpensesOf(category.id)">
                    {{expense.name}} - {{expense.amount}}
                  </li>
                </ul>

              </li>
          </div>
        </ul>


      </section>
    </div>
  </div>



</div>



