@import "../../../../assets/css/fonts.css";
@import "../../../../assets/css/tooltip.css";

.clickable {
  cursor: pointer;
}

h2.subLabel {

  margin-bottom: -30px;
  padding-bottom: 25px;
}

.mainCategoryLbl {
  margin-bottom: -25px;
  padding-bottom: 25px;
}


/* Loop trough main ... */
div.main-category-box {

}


div.main-category-box section.category {

}

div.main-category-box section.category h3.clickable.mainCategoryLbl {
  /* default styling from fonts.css */
}

span.tooltipPerc {
 /* external styling */
}


div.main-category-box section.category hr {

}



/*           GENERAL       */
ul li {
  list-style-type: none;
  padding: 5px 0;

}
ul, li, .category-box {
  -webkit-transition: opacity 150ms ease-in-out, top 400ms ease-in-out;
  transition: opacity 150ms ease-in-out, top  400ms ease-in-out;
}
/*          / GENERAL      */






div.main-category-box section.category ul.sub-cat li {
  padding-left: 25px;
}
div.main-category-box section.category ul.sub-cat li .icon-subcat {
  position: absolute;
  left: 25px;
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
div.main-category-box section.category ul.sub-cat li .icon-subcat:before{
  content: '';
  background-size: cover;
  background: url("../../../../assets/icns/next.svg") no-repeat center;

  width: 35px;
  height: 35px;
  margin-left: -30px;

  -webkit-transition: all 150ms ease-in-out, top 400ms ease-in-out;
  transition: all 150ms ease-in-out, top  400ms ease-in-out;

}
div.main-category-box section.category ul.sub-cat li .icon-subcat.down:before {
  transform: rotate(90deg);
  transform: rotate(90deg);

}

div.main-category-box section.category ul.sub-cat li .icon-subcat::before {
  /*content: '>';*/
  position: absolute;
  left: 0;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

/*div.main-category-box section.category ul.sub-cat li::before > ul.expenses-seperate.show {*/
  /*content: '\/';*/
/*}*/

div.main-category-box section.category ul.sub-cat li ul{
  padding: 0;
}
div.main-category-box section.category ul.sub-cat li ul li {
  list-style-type: none;
  font-size: 15px;
  font-weight: 300;
}
/*div.main-category-box section.category ul.sub-cat li ul li::before {*/
  /*content: '>';*/
  /*position: absolute;*/
  /*left: 0;*/
  /*color: #666;*/
  /*font-weight: 500;*/
  /*cursor: pointer;*/
/*}*/
div.main-category-box section.category ul.sub-cat li ul li span {
  margin-bottom: -5px;
}
div.main-category-box section.category ul.sub-cat li ul li span.info {
  font-size: 12px;
}

div.main-category-box section.category ul.sub-cat li ul li:last-child {
  margin-bottom: 25px;
}



.hiddenNow  {
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out, top 400ms ease-in-out;
  transition: opacity 150ms ease-in-out, top  400ms ease-in-out;
  position: absolute;
  z-index: -10;
}


.show {
  opacity: 1 !important;
  z-index: 1;
}
.relative  {
  position: relative;
}


.info {
  margin-top: -10px;
}
span.dot {
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  top: 13px;
  padding-left: 3px;

}

span.company {
  margin-left: 15px;
}


.tooltipPerc {
  top: 26px;
  left: 0px;
  z-index: 9;
}
.tooltipPerc:before,
.tooltipPerc:after {
  left: 15%;
}






/deep/.ngx-contextmenu .dropdown-menu {
  color: #333;
  font-weight: 300;
  top: 35px;
  font-size: 14px;
  text-align: center;
  width: 100px;
  height: auto;
  padding: 5px;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid rgba(205,205,205,0.8);
  margin: 0 auto;
  left: 10px;

  box-shadow: #eee 2px 2px 20px;
  transition: all ease-in-out 200ms;
}


/deep/.ngx-contextmenu .dropdown-menu:before,
/deep/.ngx-contextmenu .dropdown-menu:after {
  content: '';
  position: absolute;
  top: 0;
  left: 20%;
  width: auto;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  margin-left: -10px;
}
/deep/.ngx-contextmenu .dropdown-menu:after {
  border-bottom-color: rgba(205,205,205,0.9);
  margin-top: -10px;
}
/deep/.ngx-contextmenu .dropdown-menu:before {
  border-bottom-color: #fff;
  margin-top: -8px;
  z-index: 3;
}

/deep/.ngx-contextmenu li {
  display: block;
  border-top: solid 1px #eee;
  text-transform: uppercase;
  text-align: center;
}
/deep/.ngx-contextmenu li:first-child {
  border-top:none;
}
/deep/.ngx-contextmenu a {
  color: #777;
  display: block;
  padding: 0.5em 1em;
}
/deep/.ngx-contextmenu a:hover {
  color: #999;
  background-color: #eee;
}

/deep/.ngx-contextmenu .dropdown-menu li ul {
  background: red;
}
